{% load i18n static simpletags %}


<link rel="stylesheet" href=" /static/guide/css/iconfont.css">
<link rel="stylesheet" href="/static/guide/css/style.css">

<div id="home">
    <div class="container" id="container">
        <section class="main">
            <div id="mainContent">

                <!-- 实用工具 -->
                <div class="box">
                    <a href="" name="tools"></a>
                    <div class="sub-category">
                        <div><i class="iconfont icon-tool"></i>实用工具</div>
                    </div>
                    <div>
                        <a target="_blank" href="http://8.129.115.98:9002/">
                            <div class="item">
                                <div class="no-logo">股票市场</div>
                            </div>
                        </a>


                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
