{% load i18n static simpletags %}


<link rel="stylesheet" href=" /static/guide/css/iconfont.css">
<link rel="stylesheet" href="/static/guide/css/style.css">

<div id="home">
    <div class="container" id="container">
        <section class="main">
            <div id="mainContent">
                 <!-- 技术博客 -->
                <div class="box">
                    <div class="sub-category">
                        <div><i class="iconfont icon-wendangdocument78"></i>独立站</div>
                    </div>
                    <div>
                        <a target="_blank" href="https://shoppime.com/">
                            <div class="item"><div class="no-logo">shoppime</div></div>
                        </a>
                         <a target="_blank" href="https://www.namecheap.com/">
                            <div class="item"><div class="no-logo">namecheap</div></div>
                        </a>
                         <a target="_blank" href="https://www.mysitearea.com/">
                            <div class="item"><div class="no-logo">SiteGround</div></div>
                        </a>
                         <a target="_blank" href="https://marketools.cn/">
                            <div class="item">
                                <div class="no-logo">一起赚美元</div>
                            </div>
                        </a>
                        <a target="_blank" href="https://makedollars.cn/topic/ecommerce">
                            <div class="item">
                                <div class="no-logo">快速搭建跨境商城</div>
                            </div>
                        </a>
                        <a target="_blank" href="http://www.guxiaobei.com/history-articles.html">
                            <div class="item">
                                <div class="no-logo">顾小北B2C博客</div>
                            </div>
                        </a>
                         <a target="_blank" href="https://blog.naibabiji.com/">
                            <div class="item"><div class="no-logo">奶爸建站</div></div>
                        </a>
                        <a target="_blank" href="https://www.sitore.com/">
                            <div class="item"><div class="no-logo">思拓建站</div></div>
                        </a>
                    </div>
                </div>
                <!-- 实用工具 -->
                <div class="box">
                    <div class="sub-category">
                        <div><i class="iconfont icon-tool"></i>实用工具</div>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.amz520.com/">
                            <div class="item">
                                <div class="no-logo">amz520</div>
                            </div>
                        </a>
                        <a target="_blank" href="https://zh.semrush.com/dashboard/">
                            <div class="item">
                                <div class="no-logo">semrush</div>
                            </div>
                        </a>
                        <a target="_blank" href="https://www.hoocs.com/vitual-products/">
                            <div class="item">
                                <div class="no-logo">虎客买卖</div>
                            </div>
                        </a>
                         <a target="_blank" href="https://dh.audtools.com/">
                            <div class="item">
                                <div class="no-logo">audtools</div>
                            </div>
                        </a>
                        <a target="_blank" href="http://zhishu.baidu.com/v2/main/index.html#/demand/%E7%8B%AC%E7%AB%8B%E7%AB%99?words=%E7%8B%AC%E7%AB%8B%E7%AB%99">
                            <div class="item">
                                <div class="no-logo">独立站需求力图谱</div>
                            </div>
                        </a>
                        <a target="_blank" href="http://zhishu.baidu.com/v2/main/index.html#/demand/affiliate?words=affiliate">
                            <div class="item">
                                <div class="no-logo">affiliate需求力图谱</div>
                            </div>
                        </a>
                        <a target="_blank" href="https://www.5118.com/seo/newwords/9da7bca7ce27">
                            <div class="item">
                                <div class="no-logo">5118</div>
                            </div>
                        </a>
                        <a target="_blank" href="https://data.chinaz.com">
                            <div class="item">
                                <div class="no-logo">站长站</div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- 技术博客 -->
                <div class="box">
                    <div class="sub-category">
                        <div><i class="iconfont icon-tool"></i>Affiliate</div>
                    </div>
                    <div>
                        <a target="_blank" href="https://affren.com/">
                            <div class="item"><div class="no-logo">affren</div></div>
                        </a>
                        <a target="_blank" href="https://minghao88.com/">
                            <div class="item"><div class="no-logo">minghao88</div></div>
                        </a>
                         <a target="_blank" href="https://www.wanghuiblog.com/">
                            <div class="item"><div class="no-logo">王会博客</div></div>
                        </a>
                         <a target="_blank" href="https://maxjmac.com/">
                            <div class="item"><div class="no-logo">maxjmac</div></div>
                        </a>
                         <a target="_blank" href="https://www.fuyuzhe.com/">
                            <div class="item"><div class="no-logo">富裕者联盟</div></div>
                        </a>
                        <a target="_blank" href="https://xmgseo.com/">
                            <div class="item"><div class="no-logo">牛津小马哥</div></div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
